@import "tailwindcss";

@theme {
  --color-primary: #FFD282;
  --color-dark: #192339;
  --font-sans: 'Montserrat', sans-serif;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    color: #fff;
  }
}
