---
import Layout from "../layouts/Layout.astro";
import SplineScene from "../components/SplineScene";
---

<Layout title="Inicio">
  <section
    class="relative flex items-center justify-center min-h-[100vh] overflow-hidden"
  >
    <div
      class="relative z-10 text-center flex flex-col items-center justify-center"
    >
      <div class="w-[750px] flex flex-col mb-10">
        <h1
          class="text-[8vw] font-bold text-primary leading-tight w-full text-left"
        >
          Watacon
        </h1>
        <h2
          class="text-[6vw] font-bold text-light leading-tight text-right w-full"
        >
          Webs rápidas
        </h2>
        <h2
          class="text-[6vw] font-bold text-light leading-tight text-left w-full"
        >
          Modernas y
        </h2>
        <h2
          class="text-[6vw] font-bold text-light leading-tight text-right w-full"
        >
          Optimizadas
        </h2>

        <h3
          class="text-[1.5vw] font-bold text-light leading-tight text-left w-full mt-6"
        >
          Panamá | Ibiza | Barcelona
        </h3>
      </div>
    </div>
  </section>
</Layout>

<script>
  import { gsap } from "gsap";

  const heroTexts = document.querySelectorAll("section h1, section h2");
  const heroH3 = document.querySelector("section h3");

  gsap.set(heroTexts, { autoAlpha: 0, y: -30 });
  gsap.set(heroH3, { autoAlpha: 0, x: -30 });

  gsap.to(heroTexts, {
    autoAlpha: 1,
    y: 0,
    stagger: 0.15,
    duration: 0.8,
    ease: "power2.out",
    delay: 0.3,
  });

  gsap.to(heroH3, {
    autoAlpha: 1,
    x: 0,
    duration: 0.6,
    ease: "power2.out",
    delay: 1.6,
  });
</script>
