---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tiendas Online">
  <section class="flex items-center justify-center min-h-[calc(100vh-5rem)]">
    <div class="text-center text-white">
      <h1 class="text-4xl md:text-6xl font-bold mb-4">Tiendas Online</h1>
      <p class="text-lg text-white/80">Tu negocio en internet con una tienda virtual</p>
    </div>
  </section>
</Layout>
