---

---

<footer class="p-4">
  <div
    class="bg-primary w-full h-[50vh] p-10 flex flex-col items-center justify-end rounded-[20px]"
  >
    <a href="/" class="flex flex-row items-center justify-center gap-4 group">
      <h2 class="text-dark text-[16vw] font-bold leading-1">Watacon</h2>
      <img
        src="/img/watacon-logo-dark.svg"
        alt="Watacon"
        class="w-[13vw] drop-shadow-lg transition-transform duration-500 group-hover:rotate-[480deg]"
      />
    </a>
  </div>
</footer>
