---
const navRight = [
  { label: "Inicio", href: "/" },
  { label: "Nosotros", href: "/nosotros" },
  { label: "Blog", href: "/blog" },
  { label: "Contacto", href: "/contacto" },
];
---

<!-- LOGO -->
<a
  href="/"
  id="header-logo"
  class="fixed top-2 left-2 z-[10000] flex items-center gap-3"
>
  <img
    src="/img/watacon-logo.svg"
    alt="Watacon"
    class="w-24 h-24 drop-shadow-lg transition-transform duration-500 hover:rotate-[480deg]"
  />
</a>
<!-- OPEN MENU BUTTON -->
<button
  id="menu-toggle"
  class="fixed top-3 right-3 z-[10000] flex items-center gap-3 bg-primary rounded-full py-1 pr-1 pl-4 cursor-pointer shadow-lg"
>
  <span class="text-dark text-lg font-bold">Menú</span>
  <div class="bg-dark rounded-full p-2">
    <div class="relative w-6 h-6">
      <span
        id="bar1"
        class="absolute left-0 top-1 block h-[2px] w-full bg-primary rounded transition-all duration-300"
      ></span>
      <span
        id="bar2"
        class="absolute left-0 top-1/2 -translate-y-1/2 block h-[2px] w-full bg-primary rounded transition-all duration-300"
      ></span>
      <span
        id="bar3"
        class="absolute left-0 bottom-1 block h-[2px] w-full bg-primary rounded transition-all duration-300"
      ></span>
    </div>
  </div>
</button>

<!-- MENU -->
<div
  id="menu-overlay"
  class="fixed left-0 right-0 top-0 pointer-events-none transition-transform duration-500 ease-in-out"
  style="z-index: 9999; transform: translateY(-100%);"
>
  <div class="bg-dark/30 backdrop-blur-[30px] min-h-screen">
    <div class="h-full flex flex-row px-3 pb-3 pt-18 gap-6">
      <div
        class="w-[70%] rounded-[20px] h-[88vh] p-8 flex flex-col items-center justify-center overflow-hidden"
      >
        <nav>
          <a
            href="/webs-corporativas"
            class="w-full flex flex-row items-center justify-center p-4 gap-4 group relative"
          >
            <h2
              class="nav-link text-primary text-center hover:text-white group-hover:text-white text-[4.2vw] font-bold transition-colors relative z-10"
            >
              Webs Corporativas
            </h2>
            <img
              class="w-[40vh] h-[40vh] rounded-[30px] object-cover absolute left-0 -translate-x-full group-hover:translate-x-0 group-hover:scale-120 group-hover:rotate-25 transition-transform duration-300 z-0"
              src="/img/web.png"
              alt="Tiendas Online"
            />
          </a>
          <a
            href="/tiendas-online"
            class="flex flex-row items-center justify-center p-4 gap-4 group relative w-full"
          >
            <h2
              class="nav-link text-primary text-center hover:text-white group-hover:text-white text-[4.2vw] font-bold transition-colors relative z-10"
            >
              Tiendas Online
            </h2>
            <img
              class="w-[40vh] h-[40vh] rounded-[30px] object-cover absolute left-0 -translate-x-full group-hover:translate-x-0 group-hover:scale-120 group-hover:rotate-25 transition-transform duration-300 z-0"
              src="/img/web.png"
              alt="Tiendas Online"
            />
          </a>
          <a
            href="/seo-marketing"
            class="flex flex-row items-center justify-center p-4 gap-4 group relative w-full"
          >
            <h2
              class="nav-link text-primary text-center hover:text-white group-hover:text-white text-[4.2vw] font-bold transition-colors relative z-10"
            >
              SEO y Marketing
            </h2>
            <img
              class="w-[40vh] h-[40vh] rounded-[30px] object-cover absolute left-0 -translate-x-full group-hover:translate-x-0 group-hover:scale-120 group-hover:rotate-25 transition-transform duration-300 z-0"
              src="/img/web.png"
              alt="Tiendas Online"
            />
          </a>
          <a
            href="/mantenimiento-web"
            class="flex flex-row items-center justify-center p-4 gap-4 group relative w-full"
          >
            <h2
              class="nav-link text-primary text-center hover:text-white group-hover:text-white text-[4.2vw] font-bold transition-colors relative z-10"
            >
              Mantenimiento Web
            </h2>
            <img
              class="w-[40vh] h-[40vh] rounded-[30px] object-cover absolute left-0 -translate-x-full group-hover:translate-x-0 group-hover:scale-120 group-hover:rotate-25 transition-transform duration-300 z-0"
              src="/img/web.png"
              alt="Tiendas Online"
            />
          </a>
          <a
            href="/hosting-dominios"
            class="flex flex-row items-center justify-center p-4 gap-4 group relative w-full"
          >
            <h2
              class="nav-link text-primary text-center hover:text-white group-hover:text-white text-[4.2vw] font-bold transition-colors relative z-10"
            >
              Hosting y Dominios
            </h2>
            <img
              class="w-[40vh] h-[40vh] rounded-[30px] object-cover absolute left-0 -translate-x-full group-hover:translate-x-0 group-hover:scale-120 group-hover:rotate-25 transition-transform duration-300 z-0"
              src="/img/web.png"
              alt="Tiendas Online"
            />
          </a>
        </nav>
      </div>
      <div
        class="w-[30%] rounded-[40px] bg-primary pt-12 px-12 pb-8 flex flex-col justify-between"
      >
        <nav class="z-10">
          <ul class="flex flex-col gap-8">
            {
              navRight.map((item) => (
                <li>
                  <a
                    href={item.href}
                    class="nav-link text-dark hover:text-dark text-4xl font-bold transition-colors"
                  >
                    {item.label}
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
        <img
          src="/img/watacon-logo-dark.svg"
          alt="Watacon"
          class="absolute top-[20%] w-auto h-[500px] opacity-5 z-1"
        />
        <div class="flex flex-row items-center justify-end gap-4">
          <h2 class="text-dark text-[1.9vw] font-bold">© 2026 | Watacon</h2>
          <img
            src="/img/watacon-logo-dark.svg"
            alt="Watacon"
            class="w-12 h-12"
          />
        </div>
      </div>
    </div>
  </div>

  <script>
    const menuToggle = document.getElementById("menu-toggle");
    const menuOverlay = document.getElementById("menu-overlay");
    const bar1 = document.getElementById("bar1");
    const bar2 = document.getElementById("bar2");
    const bar3 = document.getElementById("bar3");
    const navLinks = document.querySelectorAll(".nav-link");

    let isOpen = false;

    document.body.appendChild(menuOverlay);

    function openMenu() {
      isOpen = true;
      menuOverlay.classList.remove("pointer-events-none");
      menuOverlay.classList.add("pointer-events-auto");
      menuOverlay.style.transform = "translateY(0)";
      bar1.className =
        "absolute left-0 block h-[2px] w-full bg-primary rounded transition-all duration-300 top-1/2 -translate-y-1/2 rotate-45";
      bar2.className =
        "absolute left-0 top-1/2 -translate-y-1/2 block h-[2px] w-full bg-primary rounded transition-all duration-300 opacity-0";
      bar3.className =
        "absolute left-0 block h-[2px] w-full bg-primary rounded transition-all duration-300 top-1/2 -translate-y-1/2 -rotate-45";
    }

    function closeMenu() {
      isOpen = false;
      menuOverlay.classList.remove("pointer-events-auto");
      menuOverlay.classList.add("pointer-events-none");
      menuOverlay.style.transform = "translateY(-100%)";
      bar1.className =
        "absolute left-0 top-1 block h-[2px] w-full bg-primary rounded transition-all duration-300";
      bar2.className =
        "absolute left-0 top-1/2 -translate-y-1/2 block h-[2px] w-full bg-primary rounded transition-all duration-300";
      bar3.className =
        "absolute left-0 bottom-1 block h-[2px] w-full bg-primary rounded transition-all duration-300";
    }

    function toggleMenu() {
      if (isOpen) {
        closeMenu();
      } else {
        openMenu();
      }
    }

    menuToggle.addEventListener("click", toggleMenu);

    navLinks.forEach(function (link) {
      link.addEventListener("click", closeMenu);
    });
  </script>
</div>
